.Products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 100vw;
}

.permaPlate{
    width: 250px;
    margin-top: 50px;
}

.productChild h2{
    text-align: center;
    width: 70vw;
}

.productChild{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 75px 0;
}

.coatImage{
    width: 250px;
}

.clearCoatProductImage{
    width: 60vw;
}

.tintImage{
    height: 100vh;
    width: 100%;
}

.tintContainer{
    padding-top: 70px;
    width: 100%;
    min-height: 100vh;
    background-image: url("https://static.wixstatic.com/media/dfeb02_106e0789cc01404fac5bbd3358160074~mv2_d_3000_1500_s_2.jpg/v1/fill/w_3000,h_1065,al_t,q_90/dfeb02_106e0789cc01404fac5bbd3358160074~mv2_d_3000_1500_s_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tintContainer h1{
    color: white;
    text-align: center;
}

.tintContainer h2{
    color: white;
    text-align: center;
}

.tintInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.tintLogo{
    width: 300px;
    background-color: white;
}

@media only screen and (max-width: 798px){
    .coatImage{
        width: 50vw;
    }

    .clearCoatProductImage{
        width: 85%;
    }
    .tintLogo{
        width: 50vw;
        margin-bottom: 20px;
    }
}