.Header{
    position: fixed;
    height: 75px;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    transition: color .5s ease;
    transition: background .5s ease;
    z-index: 10000;
}

.scrolledHeader{
    position: fixed;
    height: 75px;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 1000;
    background-color: white;
}

.menu{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 26vw;
    margin-right: 20vw;
}

.menuLink{
    cursor: pointer;
}

.mobileMenu{
    display: none;
}

.mobileLogo{
    display: none;
}

.phone{
    display: none;
}

.headerLogo{
    width: 100px;
    margin-left: 50px;
    cursor: pointer;
}

.headerPhone{
    margin-right: 50px;
}

.phoneLink{
    display: none;
}

@media only screen and (max-width: 1375px){
    .headerLogo{
        display: none;
    }
    .headerPhone{
        display: none;
    }
    .menu{
        margin: 0;
    }
}

@media only screen and (max-width: 1000px){
    .Header{
        padding-top:15px;
        padding-bottom: 15px;
    }
    
    .menu{
        display: none;
    }

    .mobileLogo{
        margin-right: 20px;
        display: inline;
        width:120px;
    }

    .phone{
        display: inline;
    }

    .headerPhone{
        display: none;
    }

    .headerLogo{
        display: none;
    }

    .phoneLink{
        display: inline;
        cursor: pointer;
    }
}